<div class="container">
    <h1>Almacen</h1>
    <form action="" method="POST" style="flex: 1; margin-right: 20px;">
        <h2>Nombre del producto</h2>
        <input class="form-control" type="text" name="nombre_almacen" required/>
        <h2>Cantidad</h2>
        <input class="form-control" type="number" name="cant_existencia">
        <br>
        <center>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </center>
    </form>
</div>