<div class="container">
    <h1>Registro</h1>
    <form action="" method="POST" style="flex: 1; margin-right: 20px;" enctype="multipart/form-data">
        <h2>Imagen del producto</h2>
        <input class="form-control" type="file" name="imagen"  />
        <h2>Nombre del producto</h2>
        <input class="form-control" type="text" name="nombre_producto" required />
        <h2>Descripcion</h2>
        <input class="form-control" type="text" name="descripcion" required />
        <h2>Precio</h2>
        <input class="form-control" type="number" name="precio" required />
        <br>
        <center>
            <button type="submit" class="btn btn-lg" style="background-color: orange;color: white;">Agregar</button>
        </center>
    </form>

</div>